* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", "Fraunces", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  height: 545px;
  width: 700px;
  display: grid;
  background-color: hsl(0, 0%, 100%);
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}

img {
  height: 545px;
  width: 340px;
  border-radius: 10px 0 0 10px;
}

.product-description {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 1rem 2.6rem;
  gap: 2rem;
}

.perfume-text,
.perfume-description {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
}

.perfume-name{
  font-family:"Fraunces";
  font-size: 2.4rem;
}

.perfume-description {
  line-height: 1.6;
}


.price{
  display: flex;
  gap: 1rem;
}


.discounted-price {
  font-family: "Fraunces";
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  align-self: center;
}

.btn-addCart {
  padding: 1.1rem;
  border-radius: 0.8rem;
  border-style: none;
  background-color: hsl(158, 36%, 37%);
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.btn-addCart:active{
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}