* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", "Fraunces", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  min-height: 33rem;
  max-width: 44rem;
  display: grid;
  background-color: hsl(0, 0%, 100%);
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.product-description {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 1rem 2.6rem;
  gap: 2rem;
}

.perfume-text,
.perfume-description {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
}

.perfume-name {
  font-family: "Fraunces";
  font-size: 2.4rem;
}

.perfume-description {
  line-height: 1.6;
}

.price {
  display: flex;
  gap: 1rem;
}

.discounted-price {
  font-family: "Fraunces";
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  align-self: center;
}

.btn-addCart {
  padding: 1.1rem;
  border-radius: 0.8rem;
  border-style: none;
  background-color: hsl(158, 36%, 37%);
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.btn-addCart:active {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

@media (max-width: 700px) {
   .product-container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    height: 37rem;
    width: 90vw;
  }

  img {
    width: 100%;
    height: 19rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
  }

  .product-description {
    margin: 0.7rem;
    gap: 0.7rem;
  }

  .perfume-name {
  font-size: 1.5rem;
}

.perfume-description {
  line-height: 1;
}

.price {
  gap: 0.7rem;
}

.discounted-price {
  font-family: "Fraunces";
  font-size: 1.5rem;
  color: hsl(158, 36%, 37%);
  font-weight: bold;
}

.btn-addCart {
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.6rem;
  
}
  
}
